@model WepAppWithDatabase.Models.Ogrenci
@{
    ViewBag.Title = "Detay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- <h2>Detay</h2> -->
<div>
    <h3> Öğrenci Bilgisi</h3>
    <b>Adı: </b> @Model.Name
    <br />
    <b> Soyadı: </b> @Model.Surname
    <br />
    <b>Yas: </b>@Model.Age
</div>
